.add-new-synonym {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.add-new-synonym h4 {
    flex-grow: 2;
}

.add-new-synonym input {
    margin-right: 15px;
    flex-grow: 1;
    max-width: 185px;
}