.added-synonyms-list .title {
    margin: 15px 0 15px 0;
    border-top: solid 1px rgba(0,0,0,0.11);
    padding-top: 10px;
}

.added-synonyms-list ol {
    margin-top: 0px;
    padding-left: 18px;
}
